<div data-controller="article-form">
  <%= render "form", article: @article %>
</div>

<h1>All Articles</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody id='articles'>
    <%= render @articles %>
  </tbody>
</table>